In [3]:
# Import dependancies
import os
import requests
import pandas as pd
import json
from dotenv import load_dotenv

In [4]:
load_dotenv()

True

In [5]:
# create variable for api key 
owlracle_API_KEY = os.getenv("owlracle_api_key")

In [6]:
# Append url for our api
url = "https://owlracle.info/eth/history?candles=1000&timeframe=1d"

In [7]:
# Read json data from API URL
eth_gas_history = pd.read_json(url, convert_dates = True)

In [8]:
# Separate gas price columns from json
gas_price_candles = pd.json_normalize(eth_gas_history['gasPrice'])
gas_price_candles

      open  close    low    high
0    27.36  13.83   8.00   69.35
1    20.19  14.88   5.10   65.78
2     7.69  41.12   6.00   83.45
3    32.75  21.54  10.36  145.70
4    85.00  59.51  22.04  355.00
..     ...    ...    ...     ...
979  10.00  10.00   0.70   30.00
980  10.00   1.00   1.00   22.50
981   1.00   1.93   1.00   30.00
982   3.00   1.00   0.85   20.00
983   1.00   0.20   0.20   25.00

[984 rows x 4 columns]

In [9]:
# Concat gas_price_candles and eth_gas_history to a new dataframe
gas_prices_df = pd.concat([gas_price_candles, eth_gas_history], axis=1)

# Drop gasPrice Column
gas_prices_df.drop(['gasPrice','samples'], axis=1, inplace=True)

# Set timestamp as index
gas_prices_df = gas_prices_df.set_index("timestamp")

# Add formated date column
gas_prices_df['date'] = gas_prices_df.index.strftime("%Y-%m-%d")

# Set index to date column
gas_prices_df = gas_prices_df.set_index('date')
gas_prices_df

             open  close    low    high        avgGas
date
2022-07-04  27.36  13.83   8.00   69.35  90313.448417
2022-07-03  20.19  14.88   5.10   65.78  98196.350563
2022-07-02   7.69  41.12   6.00   83.45  91501.283451
2022-07-01  32.75  21.54  10.36  145.70  94811.137054
2022-06-30  85.00  59.51  22.04  355.00  89419.183382
...           ...    ...    ...     ...           ...
2019-10-26  10.00  10.00   0.70   30.00  86257.287893
2019-10-25  10.00   1.00   1.00   22.50  68881.416953
2019-10-24   1.00   1.93   1.00   30.00  80838.205435
2019-10-23   3.00   1.00   0.85   20.00  82505.347888
2019-10-22   1.00   0.20   0.20   25.00  76896.891914

[984 rows x 5 columns]

In [16]:
# Writing my gas_prices_df to CSV file
gas_prices_df.to_csv("./eth_gas_prices.csv")

In [19]:
# Append url for our api
url_2 = "https://owlracle.info/eth/history?timeframe=1d&to=1571634000&from=1483250400"
eth_gas_history_2 = pd.read_json(url_2, convert_dates = True)
gas_price_candles_2 = pd.json_normalize(eth_gas_history['gasPrice'])

In [23]:
eth_gas_history_2

Empty DataFrame
Columns: []
Index: []

In [20]:
# Concat gas_price_candles and eth_gas_history to a new dataframe
gas_prices_df_2 = pd.concat([gas_price_candles_2, eth_gas_history_2], axis=1)

# Drop gasPrice Column
gas_prices_df_2.drop(['gasPrice','samples'], axis=1, inplace=True)

# Set timestamp as index
gas_prices_df_2 = gas_prices_df_2.set_index("timestamp")

# Add formated date column
gas_prices_df_2['date'] = gas_prices_df_2.index.strftime("%Y-%m-%d")

# Set index to date column
gas_prices_df_2 = gas_prices_df_2.set_index('date')
gas_prices_df_2

KeyError: "['gasPrice', 'samples'] not found in axis"