In [1]:
#Imports
import pandas as pd
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [63]:
#Read in the csv file
df = pd.read_csv('/Volumes/5Tb/Test/Project_2/Resources/2017_data.csv', index_col = "date", infer_datetime_format=True, parse_dates=True)

#df = df.drop(columns = ["Column 1", "id", "language"])

#Renaming the dataframe to identify it as a pandas dataframe (when using with Optimus)
df_pd = df
df_pd

,Day of Year,id,tweet,language,hashtags,username,nlikes,nretweets
date,,,,,,,,
2017-12-30,364,947255896203255808,As EOS Tops $8 Is the Sun About to Set on Ethe...,en,[],coinspipe,0,0
2017-12-30,364,947255847490551808,Assume #gdax is down or slow for everyone? I ...,en,"['gdax', 'coinbase', 'bitcoin', 'bitcoincash',...",Bitcoinlanding,2,0
2017-12-30,364,947255473836785665,Come #trade #crypto with our team over this ho...,en,"['trade', 'crypto', 'bitcoin', 'ethereum', 'st...",Ascend_Trading,5,4
2017-12-30,364,947255391838142464,Cryptocurrency expert released after $1 millio...,en,"['cryptocurrency', 'ethereum', 'crypto']",coinspectator,0,0
2017-12-30,364,947255378089332739,Love on the Blockchain? Ethereum Platform Viol...,en,[],ThisJustinVA,0,0
...,...,...,...,...,...,...,...,...
2017-10-07,280,916749940101070849,What is #BlockChain? #fintech #CryptoCurrency...,en,"['blockchain', 'fintech', 'cryptocurrency', 'a...",VivekMishra09,17,20
2017-10-07,280,916749895033290752,The best type of people are those who help you...,en,"['inspiration', 'airtoken', 'ico', 'ethereum']",AskTimJones,0,0
2017-10-07,280,916749824371904512,"Things, you learn later in life. #Wisdom #Moti...",en,"['wisdom', 'motivation', 'inspiration', 'succe...",AskTimJones,0,0
2017-10-07,280,916749667517517825,Always focus on the positive. Positivity #Moti...,en,"['motivation', 'inspiration', 'success', 'airt...",AskTimJones,0,0
2017-10-07,280,916749586026434560,Eventually all things fall into place. Until t...,en,"['motivation', 'airtoken', 'ethereum', 'bitcoi...",AskTimJones,0,0

In [64]:
df_pd.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 302101 entries, 2017-12-30 to 2017-10-07
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Day of Year  302101 non-null  int64
 1   id           302101 non-null  int64
 2   tweet        302101 non-null  object
 3   language     302101 non-null  object
 4   hashtags     302101 non-null  object
 5   username     302101 non-null  object
 6   nlikes       302101 non-null  int64
 7   nretweets    302101 non-null  int64
dtypes: int64(4), object(4)
memory usage: 20.7+ MB

In [65]:
# Download/Update the VADER Lexicon
nltk.download('vader_lexicon')

# Initialize the VADER sentiment analyzer
analyzer = SentimentIntensityAnalyzer()

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/richardmelvin/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [66]:
#List comprehension to create the table.
df_pd['compound'] = [analyzer.polarity_scores(x)['compound'] for x in df_pd['tweet']]
df_pd['neg'] = [analyzer.polarity_scores(x)['neg'] for x in df_pd['tweet']]
df_pd['neu'] = [analyzer.polarity_scores(x)['neu'] for x in df_pd['tweet']]
df_pd['pos'] = [analyzer.polarity_scores(x)['pos'] for x in df_pd['tweet']]

#Look at the dataframe
df_pd

,Day of Year,id,tweet,language,hashtags,username,nlikes,nretweets,compound,neg,neu,pos
date,,,,,,,,,,,,
2017-12-30,364,947255896203255808,As EOS Tops $8 Is the Sun About to Set on Ethe...,en,[],coinspipe,0,0,0.5106,0.000,0.820,0.180
2017-12-30,364,947255847490551808,Assume #gdax is down or slow for everyone? I ...,en,"['gdax', 'coinbase', 'bitcoin', 'bitcoincash',...",Bitcoinlanding,2,0,-0.2732,0.091,0.909,0.000
2017-12-30,364,947255473836785665,Come #trade #crypto with our team over this ho...,en,"['trade', 'crypto', 'bitcoin', 'ethereum', 'st...",Ascend_Trading,5,4,0.8600,0.000,0.808,0.192
2017-12-30,364,947255391838142464,Cryptocurrency expert released after $1 millio...,en,"['cryptocurrency', 'ethereum', 'crypto']",coinspectator,0,0,0.0000,0.000,1.000,0.000
2017-12-30,364,947255378089332739,Love on the Blockchain? Ethereum Platform Viol...,en,[],ThisJustinVA,0,0,0.6369,0.000,0.819,0.181
...,...,...,...,...,...,...,...,...,...,...,...,...
2017-10-07,280,916749940101070849,What is #BlockChain? #fintech #CryptoCurrency...,en,"['blockchain', 'fintech', 'cryptocurrency', 'a...",VivekMishra09,17,20,0.0000,0.000,1.000,0.000
2017-10-07,280,916749895033290752,The best type of people are those who help you...,en,"['inspiration', 'airtoken', 'ico', 'ethereum']",AskTimJones,0,0,0.7845,0.000,0.743,0.257
2017-10-07,280,916749824371904512,"Things, you learn later in life. #Wisdom #Moti...",en,"['wisdom', 'motivation', 'inspiration', 'succe...",AskTimJones,0,0,0.0000,0.000,1.000,0.000
2017-10-07,280,916749667517517825,Always focus on the positive. Positivity #Moti...,en,"['motivation', 'inspiration', 'success', 'airt...",AskTimJones,0,0,0.7845,0.000,0.653,0.347
2017-10-07,280,916749586026434560,Eventually all things fall into place. Until t...,en,"['motivation', 'airtoken', 'ethereum', 'bitcoi...",AskTimJones,0,0,0.5574,0.000,0.816,0.184

In [68]:
#Save the dataframe
sentiment_2017_df = df_pd
sentiment_2017_df

,Day of Year,id,tweet,language,hashtags,username,nlikes,nretweets,compound,neg,neu,pos
date,,,,,,,,,,,,
2017-12-30,364,947255896203255808,As EOS Tops $8 Is the Sun About to Set on Ethe...,en,[],coinspipe,0,0,0.5106,0.000,0.820,0.180
2017-12-30,364,947255847490551808,Assume #gdax is down or slow for everyone? I ...,en,"['gdax', 'coinbase', 'bitcoin', 'bitcoincash',...",Bitcoinlanding,2,0,-0.2732,0.091,0.909,0.000
2017-12-30,364,947255473836785665,Come #trade #crypto with our team over this ho...,en,"['trade', 'crypto', 'bitcoin', 'ethereum', 'st...",Ascend_Trading,5,4,0.8600,0.000,0.808,0.192
2017-12-30,364,947255391838142464,Cryptocurrency expert released after $1 millio...,en,"['cryptocurrency', 'ethereum', 'crypto']",coinspectator,0,0,0.0000,0.000,1.000,0.000
2017-12-30,364,947255378089332739,Love on the Blockchain? Ethereum Platform Viol...,en,[],ThisJustinVA,0,0,0.6369,0.000,0.819,0.181
...,...,...,...,...,...,...,...,...,...,...,...,...
2017-10-07,280,916749940101070849,What is #BlockChain? #fintech #CryptoCurrency...,en,"['blockchain', 'fintech', 'cryptocurrency', 'a...",VivekMishra09,17,20,0.0000,0.000,1.000,0.000
2017-10-07,280,916749895033290752,The best type of people are those who help you...,en,"['inspiration', 'airtoken', 'ico', 'ethereum']",AskTimJones,0,0,0.7845,0.000,0.743,0.257
2017-10-07,280,916749824371904512,"Things, you learn later in life. #Wisdom #Moti...",en,"['wisdom', 'motivation', 'inspiration', 'succe...",AskTimJones,0,0,0.0000,0.000,1.000,0.000
2017-10-07,280,916749667517517825,Always focus on the positive. Positivity #Moti...,en,"['motivation', 'inspiration', 'success', 'airt...",AskTimJones,0,0,0.7845,0.000,0.653,0.347
2017-10-07,280,916749586026434560,Eventually all things fall into place. Until t...,en,"['motivation', 'airtoken', 'ethereum', 'bitcoi...",AskTimJones,0,0,0.5574,0.000,0.816,0.184

In [69]:
sentiment_2017_df.to_csv('/Volumes/5Tb/Current/Project_2/sentiment_2017.csv')

In [30]:
eighteen_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1738098 entries, 2018-01-01 to 2018-12-31
Data columns (total 12 columns):
 #   Column       Dtype
---  ------       -----
 0   Day of Year  int64
 1   id           int64
 2   tweet        object
 3   language     object
 4   hashtags     object
 5   username     object
 6   nlikes       float64
 7   nretweets    float64
 8   compound     float64
 9   neg          float64
 10  neu          float64
 11  pos          float64
dtypes: float64(6), int64(2), object(4)
memory usage: 172.4+ MB

In [31]:
eighteen_df.count()

Day of Year    1738098
id             1738098
tweet          1738098
language       1738092
hashtags       1738092
username       1738092
nlikes         1738092
nretweets      1738092
compound       1738098
neg            1738098
neu            1738098
pos            1738098
dtype: int64

In [54]:
eighteen_df.to_csv('/Volumes/5Tb/Test/Project_2/Resources/eighteen_df.csv')

In [42]:
#Save the dataframe
seventeen_df = df_pd

In [43]:
seventeen_df

,Day of Year,id,tweet,language,hashtags,username,nlikes,nretweets,compound,neg,neu,pos
date,,,,,,,,,,,,
2017-10-07,280,916890263766945792,'SmartNET' The Worlds Low Power Wide Area Netw...,en,"['platform', 'entrepreneurship', 'reuters', 'v...",theautomatski,0,0,-0.2732,0.130,0.870,0.000
2017-10-07,280,916890188575522816,Recent Ethereum Upgrade May Make Wall Street F...,en,[],Andy_Burton,0,1,0.6369,0.000,0.741,0.259
2017-10-07,280,916890185035481089,Recent Ethereum Upgrade May Make Wall Street F...,en,[],MobilitySpain,0,0,0.6369,0.000,0.741,0.259
2017-10-07,280,916889803416891393,Bitcoin Hard Fork Segwit2x Closing-In: Coinbas...,en,['crypto'],CNMonitor,0,0,0.2732,0.083,0.769,0.148
2017-10-07,280,916889723255250944,Do not forget to subscribe for the update.#Tok...,en,"['tokensale', 'crowdsale', 'blockchain', 'ico'...",LevelNetwork,47,55,0.1695,0.000,0.906,0.094
...,...,...,...,...,...,...,...,...,...,...,...,...
2017-12-30,364,946984201554821120,"Bitcoin Price Flirts With $14,000 as Ripple Ni...",en,"['cryptocurrency', 'news']",frandimore,1,0,0.1779,0.000,0.904,0.096
2017-12-30,364,946984201378820096,Cotizaciones al 30/12/2017 03:00 AM Bitcoin (B...,en,[],crypto_paraguay,0,0,0.0000,0.000,1.000,0.000
2017-12-30,364,946984198979637248,30Dec2017 06:00 UTC #Ethereum live spots - #ET...,en,"['ethereum', 'ethusd', 'etheur']",o_chapiteau,0,0,0.0000,0.000,1.000,0.000
2017-12-30,364,946984196941271040,"Current #ethereum price is $708.42, an increas...",en,['ethereum'],eth_hourly,0,0,0.3182,0.000,0.887,0.113
2017-12-30,364,946984195628437506,"@ #3, Ethereum with unit price of $710.98, mar...",en,[],CryptoHourly,0,0,0.0000,0.000,1.000,0.000

In [44]:
seventeen_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 302101 entries, 2017-10-07 to 2017-12-30
Data columns (total 12 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Day of Year  302101 non-null  int64
 1   id           302101 non-null  int64
 2   tweet        302101 non-null  object
 3   language     302101 non-null  object
 4   hashtags     302101 non-null  object
 5   username     302101 non-null  object
 6   nlikes       302101 non-null  int64
 7   nretweets    302101 non-null  int64
 8   compound     302101 non-null  float64
 9   neg          302101 non-null  float64
 10  neu          302101 non-null  float64
 11  pos          302101 non-null  float64
dtypes: float64(4), int64(4), object(4)
memory usage: 30.0+ MB

In [45]:
seventeen_df.count()

Day of Year    302101
id             302101
tweet          302101
language       302101
hashtags       302101
username       302101
nlikes         302101
nretweets      302101
compound       302101
neg            302101
neu            302101
pos            302101
dtype: int64

In [55]:
seventeen_df.to_csv('/Volumes/5Tb/Test/Project_2/Resources/seventeen.csv')

In [57]:
eighteen = eighteen_df.groupby('date').mean()

In [58]:
eighteen

,Day of Year,id,nlikes,nretweets,compound,neg,neu,pos
date,,,,,,,,
2018-01-01,1.0,9.480580e+17,2.301105,4.505525,0.169366,0.020691,0.902293,0.077014
2018-01-02,2.0,9.482184e+17,3.668230,2.602071,0.141499,0.025547,0.900448,0.074004
2018-01-04,4.0,9.491424e+17,0.820037,2.189239,0.143665,0.011774,0.915887,0.072345
2018-01-05,5.0,9.492885e+17,2.249867,1.588277,0.149442,0.025135,0.893755,0.081112
2018-01-07,7.0,9.502331e+17,4.511719,1.708984,0.167536,0.022285,0.894166,0.083549
...,...,...,...,...,...,...,...,...
2018-12-27,361.0,1.078338e+18,2.797257,2.516696,0.144919,0.028017,0.895880,0.076103
2018-12-28,362.0,1.078711e+18,5.206354,1.269309,0.156838,0.027672,0.896478,0.075853
2018-12-29,363.0,1.079062e+18,3.943403,0.889583,0.195421,0.026636,0.884552,0.088810
2018-12-30,364.0,1.079427e+18,1.808467,0.454080,0.180362,0.024341,0.894247,0.081405
2018-12-31,365.0,1.079754e+18,2.541616,1.064555,0.239490,0.021083,0.875190,0.103724